<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCuentaAppLabel" jhiTranslate="paynowApp.cuentaApp.home.createOrEditLabel">Create or edit a Cuenta App</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cuentaApp.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cuentaApp.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.cuentaApp.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="cuentaApp.nombre" required minlength="2"/>
            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.cuentaApp.aliasCbu" for="field_aliasCbu">Alias Cbu</label>
            <input type="text" class="form-control" name="aliasCbu" id="field_aliasCbu"
                [(ngModel)]="cuentaApp.aliasCbu" required/>
            <div [hidden]="!(editForm.controls.aliasCbu?.dirty && editForm.controls.aliasCbu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.aliasCbu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.cuentaApp.cbu" for="field_cbu">Cbu</label>
            <input type="text" class="form-control" name="cbu" id="field_cbu"
                [(ngModel)]="cuentaApp.cbu" required/>
            <div [hidden]="!(editForm.controls.cbu?.dirty && editForm.controls.cbu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cbu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.cuentaApp.moneda" for="field_moneda">Moneda</label>
            <select class="form-control" name="moneda" [(ngModel)]="cuentaApp.moneda" id="field_moneda"  required>
                <option value="PESOS">{{'paynowApp.Moneda.PESOS' | translate}}</option>
                <option value="DOLAR">{{'paynowApp.Moneda.DOLAR' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.moneda?.dirty && editForm.controls.moneda?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.moneda?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.cuentaApp.saldo" for="field_saldo">Saldo</label>
            <input type="number" class="form-control" name="saldo" id="field_saldo"
                [(ngModel)]="cuentaApp.saldo" required/>
            <div [hidden]="!(editForm.controls.saldo?.dirty && editForm.controls.saldo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.saldo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.saldo?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.cuentaApp.banco" for="field_banco">Banco</label>
            <select class="form-control" id="field_banco" name="banco" [(ngModel)]="cuentaApp.banco"  required>
                <option *ngIf="!editForm.value.banco" [ngValue]="null" selected></option>
                <option [ngValue]="bancoOption.id === cuentaApp.banco?.id ? cuentaApp.banco : bancoOption" *ngFor="let bancoOption of bancos; trackBy: trackBancoById">{{bancoOption.nombre}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.banco?.dirty && editForm.controls.banco?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.banco?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.cuentaApp.app" for="field_app">App</label>
            <select class="form-control" id="field_app" name="app" [(ngModel)]="cuentaApp.app"  required>
                <option *ngIf="!editForm.value.app" [ngValue]="null" selected></option>
                <option [ngValue]="appOption.id === cuentaApp.app?.id ? cuentaApp.app : appOption" *ngFor="let appOption of apps; trackBy: trackAppById">{{appOption.nombre}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.app?.dirty && editForm.controls.app?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.app?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
