<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMovimientoAppLabel" jhiTranslate="paynowApp.movimientoApp.home.createOrEditLabel">Create or edit a Movimiento App</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!movimientoApp.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="movimientoApp.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.cuentaDebitoCbu" for="field_cuentaDebitoCbu">Cuenta Debito Cbu</label>
            <input type="text" class="form-control" name="cuentaDebitoCbu" id="field_cuentaDebitoCbu"
                [(ngModel)]="movimientoApp.cuentaDebitoCbu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.cuentaDebitoAlias" for="field_cuentaDebitoAlias">Cuenta Debito Alias</label>
            <input type="text" class="form-control" name="cuentaDebitoAlias" id="field_cuentaDebitoAlias"
                [(ngModel)]="movimientoApp.cuentaDebitoAlias" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.cuentaDebitoPropia" for="field_cuentaDebitoPropia">Cuenta Debito Propia</label>
            <input type="checkbox" class="form-control" name="cuentaDebitoPropia" id="field_cuentaDebitoPropia"
                [(ngModel)]="movimientoApp.cuentaDebitoPropia" />
            <div [hidden]="!(editForm.controls.cuentaDebitoPropia?.dirty && editForm.controls.cuentaDebitoPropia?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cuentaDebitoPropia?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.cuentaCreditoCbu" for="field_cuentaCreditoCbu">Cuenta Credito Cbu</label>
            <input type="text" class="form-control" name="cuentaCreditoCbu" id="field_cuentaCreditoCbu"
                [(ngModel)]="movimientoApp.cuentaCreditoCbu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.cuentaCreditoAlias" for="field_cuentaCreditoAlias">Cuenta Credito Alias</label>
            <input type="text" class="form-control" name="cuentaCreditoAlias" id="field_cuentaCreditoAlias"
                [(ngModel)]="movimientoApp.cuentaCreditoAlias" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.cuentaCreditoPropia" for="field_cuentaCreditoPropia">Cuenta Credito Propia</label>
            <input type="checkbox" class="form-control" name="cuentaCreditoPropia" id="field_cuentaCreditoPropia"
                [(ngModel)]="movimientoApp.cuentaCreditoPropia" />
            <div [hidden]="!(editForm.controls.cuentaCreditoPropia?.dirty && editForm.controls.cuentaCreditoPropia?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cuentaCreditoPropia?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.moneda" for="field_moneda">Moneda</label>
            <select class="form-control" name="moneda" [(ngModel)]="movimientoApp.moneda" id="field_moneda"  required>
                <option value="PESOS">{{'paynowApp.Moneda.PESOS' | translate}}</option>
                <option value="DOLAR">{{'paynowApp.Moneda.DOLAR' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.moneda?.dirty && editForm.controls.moneda?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.moneda?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.monto" for="field_monto">Monto</label>
            <input type="number" class="form-control" name="monto" id="field_monto"
                [(ngModel)]="movimientoApp.monto" required min="0"/>
            <div [hidden]="!(editForm.controls.monto?.dirty && editForm.controls.monto?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.monto?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.monto?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.monto?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.timestamp" for="field_timestamp">Timestamp</label>
            <div class="d-flex">
                <input id="field_timestamp" type="datetime-local" class="form-control" name="timestamp" [(ngModel)]="movimientoApp.timestamp"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.timestamp?.dirty && editForm.controls.timestamp?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.timestamp?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.timestamp?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                [(ngModel)]="movimientoApp.descripcion" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.identificacion" for="field_identificacion">Identificacion</label>
            <input type="text" class="form-control" name="identificacion" id="field_identificacion"
                [(ngModel)]="movimientoApp.identificacion" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.consolidado" for="field_consolidado">Consolidado</label>
            <input type="checkbox" class="form-control" name="consolidado" id="field_consolidado"
                [(ngModel)]="movimientoApp.consolidado" />
            <div [hidden]="!(editForm.controls.consolidado?.dirty && editForm.controls.consolidado?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.consolidado?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.consolidadoTimestamp" for="field_consolidadoTimestamp">Consolidado Timestamp</label>
            <div class="d-flex">
                <input id="field_consolidadoTimestamp" type="datetime-local" class="form-control" name="consolidadoTimestamp" [(ngModel)]="movimientoApp.consolidadoTimestamp"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.bancoDebito" for="field_bancoDebito">Banco Debito</label>
            <select class="form-control" id="field_bancoDebito" name="bancoDebito" [(ngModel)]="movimientoApp.bancoDebito"  required>
                <option *ngIf="!editForm.value.bancoDebito" [ngValue]="null" selected></option>
                <option [ngValue]="bancoOption.id === movimientoApp.bancoDebito?.id ? movimientoApp.bancoDebito : bancoOption" *ngFor="let bancoOption of bancos; trackBy: trackBancoById">{{bancoOption.nombre}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.bancoDebito?.dirty && editForm.controls.bancoDebito?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.bancoDebito?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="paynowApp.movimientoApp.bancoCredito" for="field_bancoCredito">Banco Credito</label>
            <select class="form-control" id="field_bancoCredito" name="bancoCredito" [(ngModel)]="movimientoApp.bancoCredito"  required>
                <option *ngIf="!editForm.value.bancoCredito" [ngValue]="null" selected></option>
                <option [ngValue]="bancoOption.id === movimientoApp.bancoCredito?.id ? movimientoApp.bancoCredito : bancoOption" *ngFor="let bancoOption of bancos; trackBy: trackBancoById">{{bancoOption.nombre}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.bancoCredito?.dirty && editForm.controls.bancoCredito?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.bancoCredito?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
